# =========================================
# DATABASE - POSTGRES
# =========================================
POSTGRES_DB=fintech
POSTGRES_USER=fintechmyuser
POSTGRES_PASSWORD=fintechmypassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


# =========================================
# LLM CONFIGURATION
# =========================================
LLM_PROVIDER=ollama
OLLAMA_MODEL=gemma3
OLLAMA_BASE_URL=http://ollama:11434


# =========================================
# API CONFIGURATION
# =========================================
URL_API_ASISITANT=http://localhost:8000/api/v1/ask_assistent_ia

